.product-item{
  width: 100%;
  max-width: 350px;
  height: 130px;
  background-color: var(--light-beige);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  gap: 20px;
  transition: all .3s;
  box-sizing: border-box;
}

.product-title{
  font-size: 18px;
  font-weight: 700;
  text-align: justify;
  max-height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-image{
  height: 100px;
  width: fit-content;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
}

.product-data{
  width: 100%;
}

.product-data > p{
  font-size: 14px;
}

.product-rate{
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: start;
  align-items: center;
  color: var(--beige);
}

.product-id{
  color: var(--blue);
}

.price-rate{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.product-price{
  color: var(--blue);
}